* {
   background-color: darkslategray;
   color: whitesmoke;

}


#About:hover{
   color: cyan;
}

#Home:hover{
   color: red
}

#Links:hover{
   color: brown;
}

.navigation {
   color: whitesmoke;
   box-sizing: content-box;
}