* {
   background-color: darkslategray;
   color: whitesmoke;

}

.navigation {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

button {
   background-color: gray;
}

button:hover{
   background-color: cyan;
   transition-duration: 0.4s;


}

button:root{
   color-scheme: white;
   background: white;
}

a {
   display: inline-block;
   border: 1px solid;
   margin: 18px;
   padding: 12px;
   border-radius: 15%;
   content: unset;
   color: black;
   background: lightsalmon;
}

a:hover {
   background-color: cyan;
   transition-duration: 0.5s;
}